# This file lists the Python packages required to run the application.
# Using in dockerfile from devcontainer vscode
# You can install the packages listed in this file using pip:
# pip install -r requirements.txt
# See the pip documentation for more details:
# https://pip.pypa.io/en/stable/reference/requirements-file-format/

# Necessário para o VS Code se comunicar com o Python como um kernel Jupyter
ipykernel

# Bibliotecas para notebooks Jupyter
jupyterlab
notebook

# Suas bibliotecas de ML com suporte a GPU
# Já instalado no ambiente base
numpy
matplotlib

# Bibliotecas para manipulação de dados
pandas

# Biblioteca principal de Deep Learning
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu130
#--extra-index-url https://download.pytorch.org/whl/cu130
# Para CUDA 12.6 com compatibilidade as placas gtx 10xx
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
#torchtext
#torchaudio


